<div class="container">
<h1>Stupid Coaching</h1>

<%# question %>
<div class="question-container">
<p><%= params[:question] %></p>
<p> - You </p>
</div>

<%# answer %>
<div class="answer-container">
<p><%= params[:answer] %></p>
<p> - Your coach</p>
</div>
</div>
